.app {  
  width: 100vw;
  min-height: 100vh;
  padding: 32px;
}

.general-layout {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  width: 100%;
  max-width: 1200px;

  margin: auto;
}

.surface {
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 0 16px 0 rgba(131, 146, 160, 0.5);
}
